.article-title {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

.article-author {
  font-size: 0.9rem;
  color: #777;
  margin: 0;
  margin-bottom: 0.5rem;
}

.article-image {
  max-width: 100%;
  height: auto;
}

.article-metadata {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.article-votes,
.article-comment-count {
  font-size: 0.9rem;
  color: #777;
  margin-top: 1rem;
}
