.article-list {
  margin-top: 9rem;
}

.article-list-title {
  font-size: 1.7rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
}
.dropdown {
  margin-left: 1rem;
  padding: 0.4rem 0rem 0.4rem 0rem;
  font-size: 0.8rem;
  color: #000000;
  border: none;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
}
.dropdown:hover {
  background-color: #f0f0f0;
}

.order-button {
  padding: 0.45rem 1rem 0.45rem 1rem;
  margin-left: 1rem;
  font-size: 0.8rem;
  background-color: #ffffff;
  border: none;
  color: #000000;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.order-button:hover {
  background-color: #f0f0f0;
}

.article-card-list {
  list-style: none;
  padding: 0;
}

.article-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  padding: 1rem;
  border: 1px solid #e0e0e0;
  margin: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.article-card-link {
  text-decoration: none;

}
