.article-list {
  margin-top: 9rem;
}

.article-list-title {
  font-size: 1.7rem;
  margin-bottom: 1rem;
}
.dropdown {
  padding: 0.5rem;
  margin-right: 1rem;
  font-size: 0.8rem;
  color: #000000;
  border: none;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
}
.dropdown:hover {
  background-color: #f0f0f0;
}

.order-button {
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  background-color: #ffffff;
  border: none;
  color: #000000;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.order-button:hover {
  background-color: #f0f0f0;
}

.article-card-list {
  list-style: none;
  padding: 0;
}

.article-card-link {
  text-decoration: none;
}

.article-card-link:hover {
  text-decoration: underline;
}
