.comment-author-date-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.comment-body-votes-box {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.comment-author,
.comment-date,
.comment-votes {
  font-size: 0.9rem;
  color: #777;
  margin: 0;
}

.comment-body {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1rem;
}
