.comment-list {
  margin-top: 2rem;
}

.comment-list-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.comment-card-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.comment-card {
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}
