.sign-in-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75vh;
}

.form-container {
  max-width: 20rem;
  width: 100%;
}

.label {
  font-size: 1.2rem;
  text-align: center;
  display: block;
  width: 100%;
}

.input {
  border: 1px solid #ccc;
  padding: 0.4rem;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  width: 97%;
  border-radius: 0.35rem;
  box-sizing: border-box;
  transition: background-color 0.3s ease;
}

.input:hover {
  background-color: #f0f0f0;
}

.button {
  background-color: #76d7c4;
  color: #000000;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.35rem;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #17a589;
  color: white;
}
