.article-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #e0e0e0;
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.article-title {
  font-size: 1.2rem;
  margin: 0 auto;
}

.article-topic {
  font-size: 0.9rem;
  color: #777;
  margin: 0;
  padding: 0;
}
.post-data-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.article-date,
.article-author {
  font-size: 0.9rem;
  color: #777;
  margin-top: 1rem;
}

.article-body {
  font-size: 0.9rem;
  margin: 0 auto;
}

.article-image {
  width: 100%;
  height: auto;
  margin: 1rem 0;
}

.vote-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.article-votes {
  font-size: 0.9rem;
  color: #777;
  margin: 0;
  padding: 0 1rem 0 1rem;
}

.vote-button {
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 0.5rem;
  margin: 0;
  padding: 0rem 0.8rem 0rem 0.8rem;
  transition: background-color 0.3s ease;
}

.vote-button:hover {
  background-color: #f0f0f0;
}

.highlight-button {
  color: #ff0000;
}

.error-message-container {
  text-align: center;
}

.error-message {
  font-size: 1rem;
  color: red;
  margin: 0.5rem 0;
}
