#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2rem;
}

.read-the-docs {
  color: #888;
}

.header,
.nav,
.sign-in,
.article-list {
  border: 2px solid red;
  padding: 1rem;
  margin-bottom: 1.5rem;
}

.article-card-list {
  list-style-type: none;
}

.link-homepage {
  color: black;
  text-decoration: underline;
}

.link-homepage:hover {
  color: #c30000;
}