#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2rem;
}

.read-the-docs {
  color: #888;
}

.header,
.nav,
.sign-in,
.article-list,
.article-card,
.article-list-title,
.comment-card-list,
.comment-list-title,
.comment-card,
.submit-comment,
#article-card-info {
  border: 2px solid red;
  padding: 1rem;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.single-article-card {
  background-color: #f2f2f2;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 20px;
}

.article-title {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

.article-author,
.article-comment-count {
  color: #333;
  font-size: 16px;
  margin-bottom: 5px;
}

.article-topic {
  color: #666;
  font-size: 16px;
  margin-bottom: 5px;
}

.article-date {
  color: #333;
  font-size: 12px;
  margin-bottom: 10px;
}

.article-body {
  color: #333;
  font-size: 16px;
  margin-bottom: 20px;
}

.article-image {
  width: 95%;
  height: auto;
  margin-bottom: 10px;
}

.article-votes {
  color: #333;
  font-size: 14px;
}

.article-card-list,
.comment-card-list {
  list-style-type: none;
}

.link-homepage {
  color: black;
  text-decoration: underline;
}

.link-homepage:hover {
  color: #c30000;
}

.vote-button,
.add-comment-button {
  background-color: #2b852e;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.error-message {
  color: #f44336;
  font-size: 20px;
  font-weight: 650;
  margin-top: 10px;
}

.highlight-button {
  background-color: #f44336;
  color: white;
}

.submit-comment form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submit-comment label {
  margin-bottom: 1rem;
  font-weight: 600;
}

.submit-comment textarea {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.comment-posted {
  color: #333;
  font-size: 20px;
  margin-top: 10px;
  font-weight: 700;
}
